@media screen and (max-width: 1024px) {
    .featured {
        padding: 3em 0 3em  !important;
    }
    .featured-news {
        height: 25em !important;
    }
}

.featured {
    width: 100%;
    padding: 10em 0 10em 0;
    .grid-container {
        max-width: 1600px;
        .overlay-featured {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: white;
            height: 100%;
            width: 100%;
            z-index: 10;
        }
        .overlay-featured:hover {
            opacity: 0.2;
            cursor: pointer;
        }
        .featured-news {
            background-color: $primary-color;
            padding: 1em;
            position: relative;
            width: 100%;
            .text {
                color: white;
                position: absolute;
                bottom: 0;
                h3 {
                    margin-bottom: 0px
                }
            }
        }
        .news {
            padding: 5px;
        }
        .featured-block-1 {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 0) 65%, rgba(0, 0, 0, 0) 100%), url("/img/DC-Featured1.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;

        }
        .featured-block-2 {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 0) 65%, rgba(0, 0, 0, 0) 100%), url("/img/flash-annual-header.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 18em;
        }
        .featured-block-3 {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 0) 65%, rgba(0, 0, 0, 0) 100%), url("/img/DC-Featured3.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 18em;
        }
    }

}

.comic-block {
    padding: 1em;
}

.featured-comics {
    width: 100%;
    background-image: url("/img/footer-bg.jpg");
    background-size: cover;
    background-color: #282828;
    position: relative;
    .featured-comics-heading {
        background-color: $primary-color;
        font-weight: bold;
        color: white;
        padding: 0 0.3em;
        position: absolute;
        top: -.8em;
        left: 2em;
    }
    .grid-container {
        padding: 5em 0;

        .featured-block {
            background-color: white;
            border: 1px solid #e0e0e0;
            margin: 5px;
            .featured-heading {
                height: 12em;
                position: relative;
                .cover {
                    height: 8em;
                    position: absolute;
                    bottom: -1em;
                    left: 2em;
                    border: 2px solid white;
                }
            }
            .featured-text {
                padding: 1.5em 1.5em;
                p {
                    margin-bottom: 0.2em;
                }
                .heading-text {
                    color: $primary-color;
                    font-weight: 600;
                    font-size: 0.8em;
                }
                .sub-heading {
                    color: #464646;
                    font-weight: bold;
                }
            }
        }
        .heading-cover-1 {
            background-image: url("/img/DC-Featured3.jpg");
            background-size: cover;
        }
        .heading-cover-2 {
            background-image: url("/img/flash-annual-header.jpg");
            background-size: cover;
        }
        .heading-cover-3 {
            background-image: url("/img/bombshells.jpg");
            background-size: cover;
        }
        .heading-cover-4 {
            background-image: url("/img/dc-header.jpg");
            background-size: cover;
        }
    }
}

.heroes {
    padding: 5em;
    margin-bottom: 10em;
    h2 {
        font-weight: bold;
        color: $primary-color;
    }
    .hero {
        .hero-pf {
            width: 100%;
            margin-bottom: 0.5em;
            border: 2px solid $primary-color;
        }
        p {
            font-weight: bold;
            color: $primary-color;
            margin-left: 1em;
        }
    }
}
