.navigation {
    top: 0;
    z-index: 999;
    width: 100%;
    background-color:red;
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    .top-bar{
        border-top: 10px solid #0077ef;
        border-bottom: 1px solid #ebebeb;
        padding: 1rem 0 !important;
        .logo {
            height: 2.3em;
        }
        .nav-item a {
            color: $primary-color;
            font-weight: bold;
        }
        .nav-item a:hover {
            color: $primary-color;
        }
        .top-bar-right {
         padding-right: 2em !important;
            .pf {
                height: 3em;
                width: 3em;
                border-radius: 100%;
            }
        }
    }
    .profile{
        padding: 1.3em;

        img {
            height: 2em;
            width: 2em;
            border-radius: 100%;
            vertical-align: middle;
            margin-right: 5px;
        }
        span {
            font-weight: bold;
            font-size: 1em
        }
    }
    i {
        margin-right: 10px;
    }
    .menu-item:hover{
        background-color: #f2f2f2 !important;
    }
}
