@media screen and (max-width: 1024px) {
    .header {
        margin-top: 1em !important;
        .news-block{
            width: 90% !important;
        }
    }
}
.header {
    margin-top: 6em;
    width: 100%;
    background-color: $primary-color;
    height: 30em;
    background-image: url("/img/flash-annual-header.jpg");
    background-position: 30% 10%;
    background-repeat: no-repeat;
    background-size: cover;

    .grid-container{
        height: inherit;
        position: relative;
        .news-block{
            background-color: rgba(0,43,63,.92);
            width: 100%;
            position: absolute;
            bottom: 0;
            .grid-container{
                padding: 1.3em 2em;
                .heading-text {
                    color: #afc9da;
                    font-weight: bold;
                    margin-bottom: 2px;
                }
                .heading-title {
                    font-weight: bold;
                    color: white;
                }
                .heading-author, .heading-date {
                    font-size: 0.8em;
                    font-weight: bold;
                    margin-bottom: 2px;
                    color: white;
                    strong {
                        color: #0077ef;
                    }

                }
            }
        }
    }
}

.news-text {
    color: #003f5e;
    margin-bottom: 15em;
    p{
        color: #555555;
        font-size: 1.2em;
    }
}
