
.profile {
    .profile-block {
        margin-top: 10em;
        padding: 1.5em;
        .profile-img {
            border: 2px solid $primary-color;
        }
        .profile-basic-info {
            margin-left: 1em;
            h2 {
                font-weight: bold;
                color: $primary-color;
            }
            p {
                color: #666;
            }
        }
        margin-bottom: 1em;
    }
    .profile-info {
        border: 1px solid #ebebeb;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        padding: 1em;
        h4 {
            font-weight: bold;
            color: $primary-color;
        }
        #table-imp {
            color: $primary-color;
            font-weight: bold;
        }
    }
}
