@media screen and (max-width: 1024px) {
    .your-heroes {
        margin-top: 2em !important;
    }
    .hero-title {
        font-size: 3em !important;
        bottom: 1em !important;
        top: auto !important;
        z-index: 3 !important;
    }
    .static-banner {
        bottom: 4em !important;
        top: auto !important;
        color: white !important;
    }
    .hero-img {
        left: 5% !important;
        height: 100% !important;
    }
}


.your-heroes {
    background-image: url("/img/dc-back.jpg");
    background-size: cover;
    margin-top: 5em;
    margin-bottom: 2em;
    .carousel-cell {
        text-align: center;
        width: 100%;
        height: 40em;
        margin-top: 4em;
        margin-right: 10px;
        .hero-title {
            color: white;
            position: absolute;
            font-weight: bold;
            font-size: 5em;
            left: 2em;
            top: 1em;
        }
        .hero-img {
            position: absolute;
            left: 30%;
            bottom: 0;
        }
    }
    .static-banner {
        position: absolute;
        z-index: 1;
        top: 3em;
        left: 2em;
        padding: 0.5em;
        font-size: 26px;
        color: $primary-color;
        font-weight: bold;
        pointer-events: none;
    }


}

.your-comics {
    margin-bottom: 20em;
    .block-title{
        color: $primary-color;
        font-weight: bold;
    }
    .comic-container {
        background-color: #f2f2f2;
        padding: 10px;
        padding-bottom: 20px !important;
        border: 1px solid #d9d9d9;
        .pagination-list{
            margin-top: 1.5em;
            text-align: center;
            h4 {
                color: $primary-color;
            }
        }
        .list {
            background-color: white;
            margin: 5px;
            border: 1px solid #d9d9d9;
            .item {
                padding: 5px 1em;
                color: black !important;
            }
            .c-item {
                margin: 5px 0;
                span {
                    font-weight: bold;
                    color: $primary-color;
                    font-size: 0.8em;
                }
            }
            .item:hover {
                background-color: #f2f2f2;
                outline: solid 1px #d9d9d9;
            }
            .active {
                background-color: $primary-color !important;
                color: white !important;
                outline: solid 0px !important;
            }
        }
    }
}
.tabcontent {
    display: none;
}
