
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
* {
    font-family: Raleway;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px !important;
}

// Settings
@import "settings";

// Foundation
@import "~foundation-sites/scss/foundation";

@include foundation-everything(true);

@import 'components/nav';
@import 'components/home';
@import 'components/newspage';
@import 'components/news';
@import 'components/ycomics';
@import 'components/profile';

@import 'components/footer';

